<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Объявления</title>
</head>
<body>
    <h1>Объявления</h1>
    <nav>
        <a href="{% url 'home' %}">Главная</a>
        {% for rubric in rubrics %}
        <a href="{% url 'rubric' rubric.pk %}">{{ rubric.name}}</a>
        {% endfor %}
    </nav>
    {% for bb in bbs %}
    <div class="card_bb">
        <p>{{bb.rubric}}</p>
        <h2>{{bb.title}}</h2>
        <p>{{bb.description}}</p>
        <p>{{bb.price}}руб.</p>
        <p>{{bb.published | date:"d.m.Y H:i:s"}}</p>
    </div>
    {% endfor %}
</body>
</html>